<header>
  <div class="header-content">
    <h1><a routerLink="/" class="logo">{{ title }}</a></h1>
    <nav>
      <a routerLink="/products" class="nav-link">Productos</a>
      <a routerLink="/tables-status" class="nav-link">Estado de Mesas</a>
      <a routerLink="/cart" class="nav-link cart-link" *ngIf="(cartItemCount$ | async) !== null">
        Carrito
        <span *ngIf="(cartItemCount$ | async)! > 0" class="cart-badge">
          {{ cartItemCount$ | async }}
        </span>
      </a>
    </nav>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <p>&copy; 2025 MesaFácil. Todos los derechos reservados.</p>
</footer>

<app-notification></app-notification>