<div 
  *ngIf="currentNotification" 
  [ngClass]="getNotificationClass(currentNotification)" 
  class="notification-container"
  [class.closing]="isClosing">

  <div class="notification-icon">
    <span class="material-icons-outlined">
      {{ getIconName(currentNotification.type) }}
    </span>
  </div>

  <div class="notification-body">
    <span class="notification-message">{{ currentNotification.message }}</span>
  </div>

  <button (click)="closeNotification()" class="notification-close-btn" aria-label="Cerrar notificación">
    &times;
  </button>
</div>